header{
display: grid;
grid-auto-flow: column;
justify-self: left;
align-items: start;

}

nav{
display: grid;
grid-template-columns: 3vw 3vw 3vw;
justify-self: right;
}

section{
    height: 60vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

article{
    width: 50%;
}

footer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}